aiohttp~=3.8.4
aiosqlite~=0.19.0
requests~=2.30.0
pytz~=2023.3
colorama~=0.4.6
idna~=3.4
multidict~=6.0.4
attrs~=23.1.0
openai~=0.27.6
yarl~=1.9.2
aiosignal~=1.3.1
frozenlist~=1.3.3
certifi~=2023.5.7
urllib3~=2.0.2
humanfriendly~=10.0
python-dotenv~=1.0.0
setuptools~=65.5.1